<script type="text/javascript">
//<![CDATA[
$('p.other-formats').first().append('' +
         <% builder = Redmine::Views::OtherFormatsBuilder.new(self) %>
        '<%= builder.link_to 'XLSX', :url => params, :onclick => "showModal('xlsx-export-options', '350px'); return false;" %>'
);
//]]>
</script>

<div id="xlsx-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'XLSX') %></h3>
  <%= form_tag(_project_issues_path(@project, :format => 'xlsx'), :method => :get, :id => 'xlsx-export-form') do %>
      <p>
        <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
        <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
      </p>
      <p>
        <label><%= check_box_tag 'description', '1', @query.has_column?(:description) %> <%= l(:field_description) %></label>
        <label><%= check_box_tag 'files', '1', false %> <%= l(:label_attachment_plural) %></label>
      </p>
      <% if @query.issue_count > Setting.issues_export_limit.to_i %>
          <p class="icon icon-warning">
            <%= l(:setting_issues_export_limit) %>: <%= Setting.issues_export_limit.to_i %>
          </p>
      <% end %>
      <p class="buttons">
        <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);" %>
        <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
      </p>
  <% end %>
</div>